services:
  db:
    image: postgres:16-alpine
    container_name: evalc1_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_evalc1
    env_file:
      - .env
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:3001
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "3001:3000"
    depends_on:
      - db

volumes:
  postgres_data: